<section class="my-5" #loginRegister>
  <div class="container py-5 my-5">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12 col-md-8 col-lg-6 col-xl-5">
        <div class="card shadow-2-strong" style="border-radius: 1rem;">
          <div class="card-body p-5 text-center shadow-lg p-5 bg-light">
            <form [formGroup]="loginform" (ngSubmit)="submit()">
              <h3 class="mb-5 text-primary">Sign in</h3>
              <div class="form-outline mb-4">
                <div *ngIf="email?.invalid && (email?.dirty || email?.touched)" class="alert">
                  <span class="text-danger" *ngIf="email?.errors?.['required']">Email is required.</span>
                  <span class="text-danger" *ngIf="email?.errors?.['email']">you must enter a valied email </span>
                </div>
                <input placeholder="Email" type="email" id="Email" formControlName="email"
                  class="form-control form-control-lg" />

                <br>
                <div class="alert"><span class="text-danger" *ngIf="password?.errors?.['required']">Password is
                    required.</span></div>
                <input placeholder="Password" type="password" formControlName="password"
                  class="form-control form-control-lg" />
              </div>
              <button class="btn btn-primary btn-lg btn-block" type="submit">Login</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>