.card {
    width: fit-content !important;
    cursor: pointer;
    transition: all 0.5s
}

.image img {
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
}

.card:hover .image img {
    transform: scale(1.5)
}

.btn {
    height: 140px;
    width: 140px;
    border-radius: 50%
}

#imgB {
    border-radius: 50%;
    color: #203c4e;
    background-color: #203c4e;
    border-color: var(--accent-color);
}

#imgB img {
    border-radius: 50%;
    }

.name {
    font-size: 22px;
    font-weight: bold
}

.idd {
    font-size: 14px;
    font-weight: 600
}

.idd1 {
    font-size: 12px
}

.number {
    font-size: 22px;
    font-weight: bold
}

.follow {
    font-size: 12px;
    font-weight: 500;
    color: #203c4e
}

.btn1 {
    height: 40px;
    width: 150px;
    border-radius: 5px;
    border: none;
    background-color: #203c4e;
    color: white;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.text span {
    font-size: 13px;
    color: #545454;
    font-weight: 500
}

.icons i {
    font-size: 19px
}

hr .new1 {
    border: 1px solid
}

.join {
    font-size: 14px;
    background-color: var(--main-color);
    font-weight: bold;
}

.date {
    background-color: #ccc
}